.is-centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.is-wrap {
  flex-wrap: wrap;
  flex-basis: initial;
}

@media (min-width: 768px) {
  .is-max-quarter-desktop {
    min-width: 25%;
  }
}

